<header class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/manager">
            <i class="fas fa-utensils" id="managerHomeBtn"></i>
        </a>
        <a class="navbar-brand logo">
            Restaurateur
            <span><img src="assets/img/hat.png" style="height: 30px;"></span>
        </a>
        <a class="navbar-brand signOut" href="/">
            <i class="fas fa-sign-out-alt" id="logOut"></i>
        </a>
    </div>
</header>